<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UserID" value="USERNAME" />
		<add key="Password" value="PASSWORD" />
		<add key="InitialCatalog" value="DATABASE_NAME" />
		<add key="DataSource" value="SERVER" />
	</appSettings>
</configuration>